# vim: set ft=sh ts=4 sw=2 tw=0 et :

YELLOW="\033[1;33m"
RED="\033[0;31m"
ENDCOLOR="\033[0m"

SETUP_DIR=$( $(dirname $0);pwd)
# SETUP_DIR=$(readlink -e $(dirname $0))
printf "setup_dir: ${SETUP_DIR}\n"
MAIN_DIR=$(cd ${SETUP_DIR}/..;pwd)
# MAIN_DIR=$(readlink -f ${SETUP_DIR}/..)
printf "main_dir: ${MAIN_DIR}\n"
BAK_DIR=${SETUP_DIR}/backup
mkdir -p ${BAK_DIR}
printf "back_dir: ${BAK_DIR}\n"

G_LLVM_ROOT=${MAIN_DIR}/git
G_LLVM_INS=${G_LLVM_ROOT}/install

Z3_ROOT=${MAIN_DIR}/z3
Z3_BUILD=${Z3_ROOT}/build
Z3_SCRIPT=${Z3_ROOT}/scripts

UCLIBC_SRC=${MAIN_DIR}/uclibc

WLLVM_ROOT=${MAIN_DIR}/wllvm

KLEE_ROOT=${MAIN_DIR}/klee
KLEE_INSTALL=${KLEE_ROOT}/install

check_dir(){
    if ! [ -d $1 ]; then
        printf "${YELLOW}$1 dir doesn't exist${ENDCOLOR}\n"
        exit 1
    fi
}

# $1: remote repo uri
# $2: local directory
# $3: additional arg for git
git_clone_or_update() {
    if [[ -d "$2" && -d "$2/.git" ]]; then
        cd "$2"
        git pull
        cd -
    else
        git clone $3 $1 $2 # shadow clone
    fi
}
