# vim: set ft=sh ts=4 sw=2 tw=0 et :
# shellcheck disable=SC2148,SC2091,SC2034,SC2086,SC2164

WORK_DIR=$(pwd)
echo "WORK_DIR: ${WORK_DIR}"

GIT_OPTS="--depth 1"

LLVM_SRC_DIR=${WORK_DIR}/llvm
LLVM_INS_DIR=${LLVM_SRC_DIR}/install

UCLIBC_SRC_DIR=${WORK_DIR}/uclibc

git_clone_or_update() {
	if [[ $# -lt 3 ]]; then
		echo "usage: $0 <GIT_OPTS> <REPO_URL> <SRC_DIR>"
		exit 1
	fi
	GIT_OPTS="$1"
	REPO_URL="$2"
	SRC_DIR="$3"
	if [[ -d "$SRC_DIR" && -d "$SRC_DIR/.git" ]]; then
		D=$PWD
		cd "$SRC_DIR"
		git pull
		cd $D
	else
		git clone ${GIT_OPTS} ${REPO_URL} ${SRC_DIR}
	fi
}
